*.iml
/.idea/
/test*
trash
*.tsv
/__template__/
/test/
/test2/
/wurzel/
/wurzel_/
/component/
/intermediate/
/attic/
/intermediateca/
/issueident/
*.key@arcor.de.csr
*.key@arcor.de.key
/issuecomp/
*.csr
/tsa.key
/root/
*~
*.ini
Dama11_*
*.key
deliverables*
/_priv/
Test1_*
logs